$badass: #bada55;
body { 
  margin: 0; 
  background-color: $badass; 
}







//@import "base/variables";
// @import "base/reset";

// @import "components/about";
// @import "components/contact";
// @import "components/footer";
// @import "components/header";
// @import "components/home";
// @import "components/project";

// @import "elements/layout";

$a: #bada33;
body {
  background-color: $a; 
}
