// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=5140B0kt+lZlOstrKqzzSiaJidt */

$color-primary-0: #AF800B;	// Main Primary color */
$color-primary-1: #E3B648;
$color-primary-2: #D49F1C;
$color-primary-3: #916700;
$color-primary-4: #6B4C00;

$color-secondary-1-0: #AFA10B;	// Main Secondary color (1) */
$color-secondary-1-1: #E3D648;
$color-secondary-1-2: #D4C41C;
$color-secondary-1-3: #918400;
$color-secondary-1-4: #6B6200;

$color-secondary-2-0: #AF550B;	// Main Secondary color (2) */
$color-secondary-2-1: #E38E48;
$color-secondary-2-2: #D46F1C;
$color-secondary-2-3: #914200;
$color-secondary-2-4: #6B3100;


$color-gray-primary-1: #BDB298;
$color-gray-primary-2: #89857A;
$color-gray-primary-3: #7B7568;
$color-gray-primary-0: #99968E;	// Main Primary color */
$color-gray-primary-4: #6C6556;

$color-gray-secondary-1-0: #99988E;	// Main Secondary color (1) */
$color-gray-secondary-1-1: #BDBA98;
$color-gray-secondary-1-2: #89887A;
$color-gray-secondary-1-3: #7B7968;
$color-gray-secondary-1-4: #6C6A56;

$color-gray-secondary-2-0: #99938E;	// Main Secondary color (2) */
$color-gray-secondary-2-1: #BDA998;
$color-gray-secondary-2-2: #89817A;
$color-gray-secondary-2-3: #7B7068;
$color-gray-secondary-2-4: #6C6056;
