// Colors
$main-bg-color:  #F3F6FC;
/*sec-bg-color: #27526B;*/
$sec-bg-color: #E1E5E5;
$thumbnail-color: #484848;
$footer-bg-color: #484848;
/*footer-bg-color: #022735;*/

$main-font-color: #8CA6A9;
$footer-font-color: #6C797B;
$link-bg-color: rgba(240,95,64,.9);
$link-font-color: #F3F6FC;

// Drawer
$drawer-width: 450px;
$drawer-width-neg: -450px;