section {
  border:1px solid; 
  margin-bottom:10px;
}

.fields {
  width: 24.5%;
  display: inline-block;
}
.fields div {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

.thumbnail {
  width:100%;
  height:100%;
  max-width:50px;
}

.thumbnailForm {
  border: 1px solid;
  display: inline-block;
  width: 125px;
}

.thumbnailForm img {
  width:100%;
  height:100%;
  max-width:100px;
  display: inline-block;
}
.thumbnailForm input {
  display: none;
}

#nav-main ul li {
  display: inline;
  padding: 0 10px;
}