/* my_display: 1245px */
/* target / context(=1245) = result */

/*declare variables*/
:root{
  --main-bg-color:  #F3F6FC;
  /*--sec-bg-color: #27526B;*/
  --sec-bg-color: #E1E5E5;
  --thumbnail-color: #484848;
  --footer-bg-color: #484848;
  /*--footer-bg-color: #022735;*/
  
  --main-font-color: #8CA6A9;
  --footer-font-color: #6C797B;
  --link-bg-color: rgba(240,95,64,.9);
  --link-color: #eb3812;
}

html,
body{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-align: center;
    
    /*line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;*/
}

a {
    color: #f05f40;
    /*-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;*/
}

a:hover,
a:focus {
    color: var(--link-color);
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

/* ********************************************** */
/* ***************** PORTFOLIO ****************** */
/* ********************************************** */

.portfolio {
    height: 70%;
}
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    /*border: 1px solid var(--footer-bg-color);*/
    /*border-radius: 4px;*/
    margin-top: 20px;
    margin-bottom: 20px; 
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    /*background: rgba(240,95,64,.9);*/
    background: var(--link-bg-color);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
    border: 1px solid var(--link-bg-color);
    border-radius: 4px;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/* ********************************************** */
/* ******************* NAVBAR ******************* */
/* ********************************************** */
.navbar,
.about,
.contact{
   padding: 2%;
}

.navbar,
.about{
   background-color: var(--sec-bg-color);
   color: var(--main-font-color);
}
.contact{
   background-color: var(--main-bg-color);
   color: var(--main-font-color);
}

.container{
    margin: 0 auto;
    width: 50%;
    text-align: justify;
    padding-bottom: 60px;
}

h4 {
    margin-bottom: 40px;
    padding-bottom: 25px;
    /*border-bottom: 1px solid #6C797B;*/
    text-align: center;
}

/*.about{
    margin-bottom: 50px;
}*/

.contact-form{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px; 
    background-color:var(--sec-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 4px;
    color: var(--main-font-color);
}
.contact-form:hover,
.contact-form:focus{
    /*background-color: #403F34;*/
    background: rgba(210,95,64,.9);
    color: #E9E5E5;
}

textarea.contact-form{
    height: 95px;
}

button.contact-form{
    color: #E1E5E5;
    background-color: #403F34;
    width: 40%;
    margin: 0 auto;
}
button.contact-form:hover,
button.contact-form:focus{
    color: #E1E5E5;
    background: rgba(210,95,64,.9);
}

/* #################### */
/*.contact-form{
    background-color: #E1E5E5;
    color: #E1E5E5;
}
.contact-form:hover{
    background-color: #6C797B;
}
button.contact-form{
    color: #6C797B;
}
button.contact-form:hover,
button.contact-form:focus{
    color: #8CA6A9;
}*/

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-font-color);
    
    padding-top: 32px;
    padding-bottom: 32px;
}

/* ********************************************** */
/* ******* CHANGES IN BOOTSTRAP DEFAULTS ******** */
/* ********************************************** */
.gutter-80.row {
    margin-right: 180px;
    margin-left: 180px;
}
.gutter-80 > [class^="col-"],
.gutter-80 > [class^=" col-"] {
    padding-right: -180px;
    padding-left: -180px;
}
.vertical-gutter-5 > [class^="col-"],
.vertical-gutter-5 > [class^=" col-"] {
    margin-bottom: 5px;
}

/*[class*="col-"] { }*/
/*.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}*/
