/* ******** VARIABLES DECLARATION ******** */
:root {
  --main-bg-color:  #F3F6FC;
  /*--sec-bg-color: #27526B;*/
  --sec-bg-color: #E1E5E5;
  --thumbnail-color: #484848;
  --footer-bg-color: #484848;
  /*--footer-bg-color: #022735;*/
  
  --main-font-color: #8CA6A9;
  --footer-font-color: #6C797B;
  --link-bg-color: rgba(240,95,64,.9);
  --link-font-color: #F3F6FC;

  --drawer-width: 450px;
  --drawer-width-neg: -450px;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
    background-color: var(--main-bg-color);
}

body {
    color: var(--main-font-color);
    font-family: "Quicksand", sans-serif;
	font-size: 16px;
    padding-top: 51px;
}

/* ********************************************** */
/* ******************* NAVBAR ******************* */
/* ********************************************** */
.navbar-default {
	background-color: #E1E5E5;
	color: rgb(119,119,119);
}


.navbar .navbar-brand h1{
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}

.navbar .nav {
    padding: 0;
    margin: 0 -15px;
}

@media(min-width:480px) {
    
    .navbar .navbar-brand h1 {
        line-height: 14px;
        font-size: 36px;
        font-weight: normal;
    }
}

@media(min-width:768px) {
    body {
        padding-top: 81px; 
    }
    
   .navbar .navbar-brand h1{
        padding: 15px 0;
    }

    .navbar .nav {
        padding: 15px 0;
    }
    
    .navbar .nav > li {
        margin: -15px 0;
    }
    .navbar .nav > li > a {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.navbar .navbar-brand h1 {
	margin: 0;
	color: rgb(119,119,119);
}

.navbar-default .navbar-nav > li > a:focus {
    color: rgb(119,119,119);
}

.navbar-default .nav > li > a:hover {
	background-color: var(--link-bg-color);
	color: var(--link-font-color);
}

/* ********************************************** */
/* ******************** MAIN ******************** */
/* ********************************************** */
main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-top: 51px;
    padding-bottom: 100px;
    margin: 0 auto -50px;
    /*overflow-y: auto;*/
}

/* ********************************************** */
/* ***************** PORTFOLIO ****************** */
/* ********************************************** */

.portfolio {
    height: 70%;
}
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 200px;
    /*border: 1px solid var(--footer-bg-color);*/
    /*border-radius: 4px;*/
    margin-top: 20px;
    margin-bottom: 20px; 
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    /*background: rgba(240,95,64,.9);*/
    background: var(--link-bg-color);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
    border: 1px solid var(--link-bg-color);
    border-radius: 4px;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


/* ********************************************** */
/* ******************* DRAWER ******************* */
/* ********************************************** */
section#sec-project {
    /*padding: 100px 0;*/
    float: left;
}

/* Hides the checkbox. The label will be styled instead */
#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0px;
  top: 100px;
  height: 50px;
  width: 50px;
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, .0);
  z-index: 1;
}

/* Adds the "hamburger" menu icon with box-shadow */
#drawer-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #8d8d8d;
  left: 13px;
  top: 18px;
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}

/*header {
  width: 100%;
  position: fixed;
  left: 0px;
  background: #efefef;
  padding: 10px 10px 10px 50px;
  font-size: 30px;
  line-height: 30px;
  z-index: 0;
}*/

/* drawer menu pane - note the 0px width */
#drawer {
  position: fixed;
  top: 0;
  left: var(--drawer-width-neg);
  height: 100%;
  width: var(--drawer-width);
  background: #2f2f2f;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  text-align: justify;
}

/* actual page content pane */
#page-content {
  margin-left: 0px;
  margin-top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  /*overflow-y: scroll;
  -webkit-overflow-scrolling: touch;*/
  padding: 20px;
}

/* checked styles (menu open state) */
#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - var(--drawer-width));
  background: rgba(255, 255, 255, .8);
}
#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  left: var(--drawer-width);
}
#drawer-toggle:checked ~ #drawer {
  left: 0px;
}
#drawer-toggle:checked ~ #page-content {
  margin-left: var(--drawer-width);
}

/* ********************************************** */
/* ************** ABOUT / CONTACT *************** */
/* ********************************************** */
.about .container,
.contact .container  {
    width: 67%;
    margin: 50px auto;
    padding: 0;
    text-align: justify;
}

@media(min-width:768px) {
    .about .container,
    .contact .container  {
        margin: 0 auto;
    }
}

/* ********************************************** */
/* **************** CONTACT FORM **************** */
/* ********************************************** */
.contact-form {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px; 
    background-color:var(--sec-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 4px;
    color: var(--main-font-color);
}
.contact-form:hover,
.contact-form:focus {
    /*background-color: #403F34;*/
    background: rgba(210,95,64,.9);
    color: #E9E5E5;
}

textarea.contact-form {
    height: 95px;
}

button.contact-form {
    color: #E1E5E5;
    background-color: #403F34;
    width: 40%;
    margin: 0 auto;
}
button.contact-form:hover,
button.contact-form:focus {
    color: #E1E5E5;
    background: rgba(210,95,64,.9);
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-font-color);
    text-align: center;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 84px;
}

/* ********************************************** */
/* ******* CHANGES IN BOOTSTRAP DEFAULTS ******** */
/* ********************************************** */
.gutter-80.row {
    margin-right: 180px;
    margin-left: 180px;
}
.gutter-80 > [class^="col-"],
.gutter-80 > [class^=" col-"] {
    padding-right: -180px;
    padding-left: -180px;
}
.vertical-gutter-5 > [class^="col-"],
.vertical-gutter-5 > [class^=" col-"] {
    margin-bottom: 5px;
}

/*[class*="col-"] { }*/
/*.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}*/
