<section>
  <h1>Portfolio Managment</h1>
  <a href ng-click="cmsCtrl.reset()">Reset</a>
  <button src="" ng-click="cmsCtrl.toggleForm()" ng-hide="cmsCtrl.adding">Add project</button>
  
  <section ng-if="cmsCtrl.adding || cmsCtrl.editing">
    <ng-include src="'edit-project.html'"></ng-include>
  </section>

  <div ng-repeat="project in cmsCtrl.projects">
    <img ng-src="/thumbnails/{{project.name}}.png" alt="" id="edit_{{project.name}}" 
        class="thumbnail">
    <a href src="" ng-click="cmsCtrl.toggleForm(project)">{{ project.title }}</a>
    <a href src="" ng-click="cmsCtrl.delete($index)" style="margin-left:40px;"> Delete </a>
  </div>
</section>