<section ng-controller="PortfolioCtrl">
  <h1>Gestão do Portfolio</h1>
  <a src="">Novo projecto</a>
  <div ng-repeat="project in projects">
    <input type="text" />
    <span>{{project.title}}</span>
  </div>
</section>

<section class="portfolio" ng-controller="PortfolioCtrl">
  <div ng-repeat="project in projects">
    <img ng-src="/thumbnails/{{project.name}}.png" class="img-responsive" alt="" id="{{project.name}}" style="max-width:50px; max-height:50px;">
    <span>{{project.title}}</span>
    <div>
      <a src=""> Edit </a>
      <a src=""> Save </a>
      <a src=""> Delete </a>
    </div>
  </div>
</section>