div#sec-project(class="container-fluid no-padding")
  input#drawer-toggle(type="checkbox", name="drawer-toggle")
  label#drawer-toggle-label(for="drawer-toggle")
  //- header
  //-     Details

  div#drawer
    div#details(class="collapse in")
      p (ng-if='project.category')
        b Category
        br 
        {{project.category}}
      p(ng-if='project.address || project.city || project.country')
        b Location
        br
        {{project.address}}
        span(ng-if='project.address && (project.city || project.country)') - 
        {{project.city}} 
        span(ng-if='project.city && project.country') - 
        {{project.country}}
      p (ng-if='project.startYear || project.endYear')
        b Date
        <br>
        {{project.startYear}} - {{project.endYear}}
      p(ng-if='project.grossArea')
        b Gross area
        br
          {{project.grossArea}}
      p(ng-if='project.floorArea')
        b Floor area
        br
          {{project.floorArea}}
      p(ng-if='project.description')
        b Description
        br
          {{project.description}}
      p(ng-if='project.companyUrl')
        b Company
        br
          a(href="{{project.companyUrl}}" target="_blank" title="change this title")
            {{project.company}}
      p(ng-if='project.participation')
        b Participation
        br
          {{project.participation}}

  #page-content
    h3
      {{project.title}}
    div#page-content(class="row")
      div(class="col-xs-12" ng-repeat="image in project.images")
        img(ng-src="/images/portfolio/{{image.name}}.png" class="img-responsive" alt="" id="{{image.name}}")
        p(style="text-align: justify")
          {{image.caption}}
        br