	//- button(type='button', class='btn btn-default btn-circle', ng-click='reset()')
	//-     i(class='glyphicon glyphicon-refresh')
	header(role='banner')
		nav(id='header-nav', class='navbar navbar-default navbar-fixed-top', role='navigation')
			.container-fluid
				.navbar-header
					button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#collapsable-nav', aria-expanded='false')
						span.sr-only
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class='navbar-brand', href='/#/home', title='Home')
						h1 Luísa Gonçalves
				.nav-main
					ul(id='collapsable-nav', class='nav navbar-nav navbar-right collapse navbar-collapse')
						li
							a(href='/#/home' title='Home' data-toggle='collapse' data-target='.in'>Portfolio)
						li
							a(href='/#/about' title='About' data-toggle='collapse' data-target='.in'>About)
						li
							a(href='/#/contacts' title='Contacts' data-toggle='collapse' data-target='.in'>Contacts)
						//- Making menu collapse after click (requires changes in the body padding-top :
						//- li
						//- 	a(href='/#/home' title='Home' data-toggle='collapse' data-target='#collapsable-nav'>Portfolio)
						//- li
						//- 	a(href='/#/about' title='About' data-toggle='collapse' data-target='#collapsable-nav'>About)
						//- li
						//- 	a(href='/#/contacts' title='Contacts' data-toggle='collapse' data-target='#collapsable-nav'>Contacts)